<div class="container-fluid">
    <div class="row bg-dark text-light py-5">
 <div class="col-lg-3">
   <h3>AboutUs</h3>
 <p>We are suppling Quality products to satisfy customers </p>
 
 </div>
 <div class="col-lg-3">
   <h3>QuickLinks</h3>
   <a class="links" href="home">Home</a>
   <a class="links" href="products">Products</a>
   <a class="links" href="contactus"> Contactus</a>
   </div>
 <div class="col-lg-3">
   <h3>Contactus</h3>
   <p><i class="far fa-envelope fa-lg"></i></p>
   <p><i class="fas fa-mobile-alt fa-lg"></i></p>
 
 </div>
 <div class="col-lg-3">
   <h3>Address</h3>
 
 </div>
 </div>
  </div>
