<div class="container-fluid">
    <div class="row">
    <div class="col-lg-6">
  <h1> Our Address</h1>
  
    </div>
  <div class="col-lg-6 contact">
    <h1>EnquiryForm</h1>
    <p>For any feedback or enquiry please fill the below form and we’ll get back to you in an instant!</p>
  <input type="Name" placeholder="Your Name">
  <input type="email" placeholder="Your Email">
  <input type="Phonenumber" placeholder="Your Phone Number">
  <textarea type="text" rows="3" cols="40" placeholder="Message"></textarea>
  <button class="btn-primary">Send Message</button>
  </div>
  </div>
  </div>
